<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <title>SkyView Traffic - Login</title>
  <style>
    td {
      padding: 0px 10px 10px 0px;
    }
  </style>
</head>
<body>
  <section class="section">
    <p class="title is-3">SkyView Traffic</p>
    {% if form.errors %}
    <p class="title is-6" style="color: red">Incorrect username and/or password. Please try again.</p>
    {% else %}
    <p class="title is-6">Please login to proceed.</p>
    {% endif %}
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <table>
      <tr>
          <td>{{ form.username.label_tag }}</td>
          <td><input class="input" type="text" name="username"></td>
      </tr>
      <tr>
          <td>{{ form.password.label_tag }}</td>
          <td><input class="input" type="password" name="password"></td>
      </tr>
      </table>

      <input class="button" type="submit" value="login">
    </form>
  </section>
</body>
{% load static %}
</html>
